Copyright 1999 - {{ site.time | date: '%Y' }}
<br />
<a href="https://casjay.net" target="_blank">Casjays Developments</a> and <a href="https://jason.malaks.us"
  target="_blank">Jason M. Hempstead-Malak</a><br />
Hosting by <a href="https://casjay.net/hosting" target="_blank">Casjays Developments: Hosting</a><br />
and powered by <a href="https://casjaysdev.com" target="_blank">CasjaysDev.com</a>
<br />
<br />
<a href="https://www.patreon.com/casjay" target="_blank"><img
    src="https://img.shields.io/badge/patreon-donate-orange.svg" border="0" alt="Casjays Patreon Page"></a>
<a href="https://www.paypal.me/casjaysdev" target="_blank"><img
    src="https://img.shields.io/badge/Donate-PayPal-green.svg?casjay@yahoo.com" alt="Casjays Paypal Page"></a>
<br />
<br />
<a href="https://help.casjay.net" target="_blank">CasjaysDev Support</a> |
<a href="https://bugs.casjay.net" target="_blank">CasjaysDev Bugs</a> <br />
<a href="https://status.casjay.net" target="_blank">System Status</a> |
<a href="https://servers.casjay.net" target="_blank">Service Status</a> |
<a href="https://status.casjaysdev.com" target="_blank">Complete Status</a> <br />
<a href="https://casjaysdev.com/domains.html" target="_blank">Casjays Developments Domains</a>
<br />
<br />
Casjays Developments privacy policy can be found at<br />
<a href="https://casjaysdev.com/policy/" target="_blank">https://casjaysdev.com/policy</a>
<br />
