Copyright 1999 - {{ site.time | date: '%Y' }}
<br />
<a href="https://casjay.pro" target="_blank">Casjays Developments</a> and
<a href="https://jason.malaks.us" target="_blank">Jason M. Hempstead-Malak</a
><br />
Hosting by
<a href="https://casjay.pro/hosting" target="_blank"
  >Casjays Developments: Hosting</a
><br />
and powered by
<a href="https://casjaysdev.pro" target="_blank">CasjaysDev.pro</a>
<br />
<br />
<a href="https://www.patreon.com/casjay" target="_blank"
  ><img
    src="https://img.shields.io/badge/patreon-donate-orange.svg"
    border="0"
    alt="Casjays Patreon Page"
/></a>
<a href="https://www.paypal.me/casjaysdev" target="_blank"
  ><img
    src="https://img.shields.io/badge/Donate-PayPal-green.svg?casjay@yahoo.com"
    alt="Casjays Paypal Page"
/></a>
<br />
<br />
<a href="https://help.casjay.pro" target="_blank">CasjaysDev Support</a> |
<a href="https://bugs.casjay.pro" target="_blank">CasjaysDev Bugs</a> <br />
<a href="https://servers.casjay.app" target="_blank">System Status</a> |
<a href="https://uptime.casjay.app" target="_blank">Service Status</a> |
<a href="https://status.casjaysdev.pro" target="_blank">Complete Status</a>
<br />
<a href="https://casjaysdev.pro/domains.html" target="_blank"
  >Casjays Developments Domains</a
>
<br />
<br />
Casjays Developments privacy policy can be found at<br />
<a href="https://casjaysdev.pro/policy/" target="_blank"
  >https://casjaysdev.pro/policy</a
>
<br />
