<div class="share-buttons">

  <a href="{{ site.feed.path | prepend: site.baseurl }}"><img alt="RSS Feed"
      src="https://casjaysdev-sites.github.io/static/default-icons/social/rss-48x48.png" /></a>

  <a href="{{ site.footer-links.github }}" target="_blank" title="Github"><img alt="Tweet"
      src="https://casjaysdev-sites.github.io/static/default-icons/social/github-48x48.png" /></a>

  <a href="https://stackoverflow.com/users/2524088/casjay"><a target="_blank" title="StackOverflow"><img
        alt="Stackoverflow" src="https://casjaysdev-sites.github.io/static/default-icons/social/stackoverflow-48x48.png" /></a>

    <a href="http://www.tumblr.com/share?v=3&u=https://casjaysdev-sites.github.io/static{{page.url}}&quote=&s=" target="_blank"
      title="Post to Tumblr"
      onclick="window.open('http://www.tumblr.com/share?v=3&u=' + encodeURIComponent(document.URL) + '&quote=' +  encodeURIComponent(document.title)); return false;"><img
        alt="Post to Tumblr" src="https://casjaysdev-sites.github.io/static/default-icons/social/tumblr-48x48.png" /></a>

    <a href="http://pinterest.com/pin/create/button/?url=https://casjaysdev-sites.github.io/static{{page.url}}&description="
      target="_blank" title="Pin it"
      onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;"><img
        alt="Pin it" src="https://casjaysdev-sites.github.io/static/default-icons/social/pinterest-48x48.png" /></a> <br />

    <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://casjaysdev-sites.github.io/static{{page.url}}&title=&summary=&source=https://casjaysdev-sites.github.io/static{{page.url}}"
      target="_blank" title="Share on LinkedIn"
      onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img
        alt="Share on LinkedIn" src="https://casjaysdev-sites.github.io/static/default-icons/social/linkedin-48x48.png" /></a>

    <a href="http://wordpress.com/press-this.php?u=https://casjaysdev-sites.github.io/static{{page.url}}&quote=&s=" target="_blank"
      title="Publish on WordPress"
      onclick="window.open('http://wordpress.com/press-this.php?u=' + encodeURIComponent(document.URL) + '&quote=' +  encodeURIComponent(document.title)); return false;"><img
        alt="Publish on WordPress" src="https://casjaysdev-sites.github.io/static/default-icons/social/wordpress-48x48.png" /></a>

    <a href="https://pinboard.in/popup_login/?url=https://casjaysdev-sites.github.io/static{{page.url}}&title=&description="
      target="_blank" title="Save to Pinboard"
      onclick="window.open('https://pinboard.in/popup_login/?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img
        alt="Save to Pinboard" src="https://casjaysdev-sites.github.io/static/default-icons/social/pinboard-48x48.png" /></a>
    <br />

</div>
