{% if site.piwik.url %}
<script type="text/javascript">
  var sc_project = {{ site.statuscounter.id }};
  var sc_invisible = 0;
  var sc_security = "{{ site.statuscounter.code }}";
  var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
  document.write("<sc" + "ript type='text/javascript' src='" +
    scJsHost +
    "statcounter.com/counter/counter.js'></" + "script>");
</script>
<noscript>
  <div class="statcounter"><a title="web stats"
      href="https://statcounter.com/p{{ site.statuscounter.id }}/summary/?guest=1" target="_blank">
      <img class="statcounter" src="//c.statcounter.com/{{ site.statuscounter.id }}/0/{{ site.statuscounter.code }}/0/"
        alt="web stats"></a>
  </div>
</noscript>
<br />
{% endif %}
