---
layout: errors
permalink: /404.html
title: Ummm You did that wrong!
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  {% include casjays-header.html %}
  {% if site.custom_theme.name %}
  {% include themes/{{ site.custom_theme.name }}/meta.html %}
  {% endif %}
</head>

<div class="container">
  <h1>
    <i class="fa fa-frown-o red"></i><a href="https://www.google.com/search?q=server+error+404" target="_blank">404 Not
      Found
  </h1>
  </a><br>
  <p class="lead">We apologize but we can't seem to be able to find what you're looking for!<br></p>
  <h3><a href="{{ site.baseurl }}/" class="btn btn-outline-danger btn-lg btn-danger">Return Home</a>
  </h3>
  <div class="container">
    <div class="body-content">
      <img alt='error' src='https://casjaysdev-sites.github.io/static/default-icons/errors/404.gif'><br>
    </div>
  </div>
  <a onclick=javascript:homepage(); class="btn btn-lg btn-success"><span id="display-domain"></span></a>
</div>
